html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*@import "partials/pace.scss";*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
* 1. Change the default font family in all browsers (opinionated).
* 2. Prevent adjustments of font size after orientation changes in IE and iOS.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0; }

/* HTML5 display definitions
========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
* 2. Add the correct display in IE.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
* Add the correct display in IE 9-.
*/
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Add the correct display in IE 10-.
* 1. Add the correct display in IE.
*/
template,
[hidden] {
  display: none; }

/* Links
========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
========================================================================== */
/**
* 1. Remove the bottom border in Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit; }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic; }

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000; }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none; }

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
========================================================================== */
/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px; }

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
========================================================================== */
/**
* 1. Change font properties to `inherit` in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Restore the font weight unset by the previous rule.
*/
optgroup {
  font-weight: bold; }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Correct the text style of placeholders in Chrome, Edge, and Safari.
*/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*@import "partials/animateIt.scss";*/
@font-face {
  font-family: 'VanitasStencilBoldItalic';
  src: url("../fonts/vanitas_stencil_bold_italic-webfont.eot");
  src: url("../fonts/vanitas_stencil_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vanitas_stencil_bold_italic-webfont.woff") format("woff"), url("../fonts/vanitas_stencil_bold_italic-webfont.ttf") format("truetype"), url("../fonts/vanitas_stencil_bold_italic-webfont.svg#VanitasStencilBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VanitasStencilBold';
  src: url("../fonts/vanitas_stencil_bold-webfont.eot");
  src: url("../fonts/vanitas_stencil_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vanitas_stencil_bold-webfont.woff") format("woff"), url("../fonts/vanitas_stencil_bold-webfont.ttf") format("truetype"), url("../fonts/vanitas_stencil_bold-webfont.svg#VanitasStencilBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VanitasStencilItalic';
  src: url("../fonts/vanitas_stencil_italic-webfont.eot");
  src: url("../fonts/vanitas_stencil_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vanitas_stencil_italic-webfont.woff") format("woff"), url("../fonts/vanitas_stencil_italic-webfont.ttf") format("truetype"), url("../fonts/vanitas_stencil_italic-webfont.svg#VanitasStencilItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VanitasStencilRegular';
  src: url("../fonts/vanitas_stencil-webfont.eot");
  src: url("../fonts/vanitas_stencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vanitas_stencil-webfont.woff") format("woff"), url("../fonts/vanitas_stencil-webfont.ttf") format("truetype"), url("../fonts/vanitas_stencil-webfont.svg#VanitasStencilRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #e1e1e1;
  font-family: 'Lato', Helvetica, Arial, sans-serif; }

.wrap {
  overflow: hidden;
  width: 100%; }

a {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: transparent;
  /* prevent tap highlight color / shadow */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */ }

header {
  position: absolute;
  width: 100%; }
  header .headerInner {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 4; }
    @media (max-width: 1400px) {
      header .headerInner {
        width: 95%; } }
    header .headerInner .nav {
      position: absolute;
      top: 50px;
      z-index: 10; }
      @media (max-width: 768px) {
        header .headerInner .nav {
          top: 0; } }
      header .headerInner .nav .hamburger {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 73px;
        height: 73px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        background: none;
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        -webkit-tap-highlight-color: transparent;
        /* prevent tap highlight color / shadow */
        -webkit-user-select: none;
        /* prevent copy paste, to allow, change 'none' to 'text' */ }
        @media (max-width: 375px) {
          header .headerInner .nav .hamburger {
            width: 65px;
            height: 65px; } }
        header .headerInner .nav .hamburger:focus {
          outline: none; }
        header .headerInner .nav .hamburger span {
          display: block;
          position: absolute;
          top: 35px;
          left: 18px;
          right: 18px;
          height: 4px;
          background: #000;
          transition: background 0s 0.3s; }
          header .headerInner .nav .hamburger span:before, header .headerInner .nav .hamburger span:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #000;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s; }
          header .headerInner .nav .hamburger span:before {
            top: -9px;
            transition-property: top, transform; }
          header .headerInner .nav .hamburger span:after {
            bottom: -9px;
            transition-property: bottom, transform; }
          @media (max-width: 375px) {
            header .headerInner .nav .hamburger span {
              height: 3px; }
              header .headerInner .nav .hamburger span:before, header .headerInner .nav .hamburger span:after {
                height: 3px; }
              header .headerInner .nav .hamburger span:before {
                top: -8px; }
              header .headerInner .nav .hamburger span:after {
                bottom: -8px; } }
        header .headerInner .nav .hamburger.is-active span {
          background: none; }
          header .headerInner .nav .hamburger.is-active span:before {
            top: 0;
            transform: rotate(45deg); }
          header .headerInner .nav .hamburger.is-active span:after {
            bottom: 0;
            transform: rotate(-45deg); }
          header .headerInner .nav .hamburger.is-active span:before, header .headerInner .nav .hamburger.is-active span:after {
            transition-delay: 0s, 0.3s; }
    header .headerInner .social {
      position: absolute;
      top: 50px;
      right: 0; }
      @media (max-width: 768px) {
        header .headerInner .social {
          top: 0; } }
      @media (max-width: 375px) {
        header .headerInner .social {
          transform: scale(0.88); } }
      header .headerInner .social .eggs {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0 18px 0 0;
        padding: 0;
        width: 56px;
        height: 73px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        background: none;
        z-index: 1;
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        -webkit-tap-highlight-color: transparent;
        /* prevent tap highlight color / shadow */
        -webkit-user-select: none;
        /* prevent copy paste, to allow, change 'none' to 'text' */ }
        header .headerInner .social .eggs:focus {
          outline: none; }
        header .headerInner .social .eggs span {
          display: block;
          position: absolute;
          width: 17px;
          height: 17px;
          border: 3px solid #000;
          border-radius: 50%;
          background: transparent;
          transition: 0.2s; }
          header .headerInner .social .eggs span:nth-child(1) {
            top: 14px;
            right: 0; }
          header .headerInner .social .eggs span:nth-child(2) {
            bottom: 14px;
            right: 0; }
          header .headerInner .social .eggs span:nth-child(3) {
            top: 25px;
            left: 14px; }
        header .headerInner .social .eggs.is-active span:nth-child(1) {
          top: 12px; }
        header .headerInner .social .eggs.is-active span:nth-child(2) {
          bottom: 12px; }
        header .headerInner .social .eggs.is-active span:nth-child(3) {
          left: 11px; }
      header .headerInner .social .plate {
        position: absolute;
        right: 0;
        opacity: 0;
        top: 13px;
        min-width: 165px;
        padding: 12px 0px 10px 85px;
        transition: 0.3s;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); }
        header .headerInner .social .plate li {
          float: left;
          margin-left: 30px; }
          header .headerInner .social .plate li:first-child {
            margin-left: 0; }
            header .headerInner .social .plate li:first-child a img {
              width: 100%;
              max-width: 25px;
              vertical-align: middle; }
          header .headerInner .social .plate li a {
            color: #000;
            text-decoration: none; }
            header .headerInner .social .plate li a img {
              width: 100%;
              max-width: 38px;
              vertical-align: middle; }
      header .headerInner .social .is-active + .plate {
        right: 27px;
        opacity: 1; }
  header .menu {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: "VanitasStencilBoldItalic", Helvetica, Arial, sans-serif;
    color: #222;
    background: url("/public/images/bg.png");
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: .5s; }
    header .menu .menuInner {
      position: relative;
      padding: 180px 22%;
      overflow-y: hidden;
      transform: translateZ(0);
      backface-visibility: hidden;
      transform: translateX(-50%);
      transition: transform 0.7s;
      transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); }
      @media (max-width: 1023px) {
        header .menu .menuInner {
          padding: 160px 18%; } }
      @media (max-width: 950px) {
        header .menu .menuInner {
          padding: 150px 16%; } }
      @media (max-width: 850px) {
        header .menu .menuInner {
          padding: 140px 13%; } }
      @media (max-width: 767px) {
        header .menu .menuInner {
          padding: 100px 22%; } }
      header .menu .menuInner .menuLeft {
        float: left; }
        @media (max-width: 767px) {
          header .menu .menuInner .menuLeft {
            float: none; } }
        header .menu .menuInner .menuLeft h2 {
          position: relative;
          font-family: "Lato", Helvetica, Arial, sans-serif;
          font-size: 50px;
          font-weight: 900;
          text-transform: lowercase;
          margin-bottom: 60px;
          color: #111; }
          header .menu .menuInner .menuLeft h2:before {
            display: block;
            position: absolute;
            bottom: 0;
            left: 104px;
            width: 20px;
            border-top: 1px solid #333;
            content: ''; }
          header .menu .menuInner .menuLeft h2:after {
            display: block;
            position: relative;
            left: 53px;
            width: 50px;
            border-top: 1px solid #333;
            content: ''; }
          @media (max-width: 768px) {
            header .menu .menuInner .menuLeft h2 {
              font-size: 45px;
              margin-bottom: 40px; }
              header .menu .menuInner .menuLeft h2:before {
                left: 92px; }
              header .menu .menuInner .menuLeft h2:after {
                left: 40px; } }
          @media (max-width: 375px) {
            header .menu .menuInner .menuLeft h2 {
              font-size: 40px;
              margin-bottom: 35px; }
              header .menu .menuInner .menuLeft h2:before {
                left: 81px;
                width: 18px; }
              header .menu .menuInner .menuLeft h2:after {
                left: 39px;
                width: 40px; } }
        header .menu .menuInner .menuLeft .primaryNav {
          padding-left: 50px; }
          @media (max-width: 375px) {
            header .menu .menuInner .menuLeft .primaryNav {
              padding-left: 0; } }
          header .menu .menuInner .menuLeft .primaryNav li {
            margin-bottom: 40px; }
            @media (max-width: 767px) {
              header .menu .menuInner .menuLeft .primaryNav li {
                margin-bottom: 30px; } }
            @media (max-width: 375px) {
              header .menu .menuInner .menuLeft .primaryNav li {
                margin-bottom: 22px; } }
            header .menu .menuInner .menuLeft .primaryNav li .selected {
              color: #000; }
              header .menu .menuInner .menuLeft .primaryNav li .selected > span {
                transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
                right: 2px; }
            header .menu .menuInner .menuLeft .primaryNav li .submenu {
              display: block;
              margin: 10px 0 0 10px;
              font-size: 30px; }
              @media (max-width: 767px) {
                header .menu .menuInner .menuLeft .primaryNav li .submenu {
                  font-size: 24px; } }
              header .menu .menuInner .menuLeft .primaryNav li .submenu a {
                color: #444;
                transform: translateZ(0);
                transition-duration: 0.5s;
                transition-property: color; }
                header .menu .menuInner .menuLeft .primaryNav li .submenu a:hover {
                  color: #000;
                  animation-name: back-pulse;
                  animation-duration: 1s;
                  animation-delay: 0.5s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite; }
          header .menu .menuInner .menuLeft .primaryNav li > a {
            font-size: 60px; }
            @media (max-width: 767px) {
              header .menu .menuInner .menuLeft .primaryNav li > a {
                font-size: 50px; } }
            @media (max-width: 375px) {
              header .menu .menuInner .menuLeft .primaryNav li > a {
                font-size: 44px; } }
            header .menu .menuInner .menuLeft .primaryNav li > a span {
              display: inline-block;
              position: relative;
              transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
              transition: transform 0.5s;
              transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
          header .menu .menuInner .menuLeft .primaryNav > li:hover > a > span {
            transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
            right: 2px; }
      header .menu .menuInner .menuRight {
        float: right;
        text-align: right;
        padding-top: 130px; }
        header .menu .menuInner .menuRight .contactJB li {
          margin-bottom: 30px;
          font-size: 25px; }
          header .menu .menuInner .menuRight .contactJB li:first-child {
            font-size: 30px;
            margin-bottom: 35px; }
            header .menu .menuInner .menuRight .contactJB li:first-child a {
              color: #000;
              transform: translateZ(0);
              transition-duration: 0.5s;
              transition-property: color; }
              header .menu .menuInner .menuRight .contactJB li:first-child a:hover {
                color: #000;
                animation-name: back-pulse;
                animation-duration: 1s;
                animation-delay: 0.4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite; }
        @media (max-width: 767px) {
          header .menu .menuInner .menuRight {
            float: none;
            text-align: left;
            padding-top: 5px; }
            header .menu .menuInner .menuRight .contactJB li {
              margin-bottom: 20px;
              font-size: 20px; }
              header .menu .menuInner .menuRight .contactJB li:first-child {
                font-size: 24px;
                margin-bottom: 25px; } }
        @media (max-width: 375px) {
          header .menu .menuInner .menuRight .contactJB li {
            margin-bottom: 18px;
            font-size: 18px; }
            header .menu .menuInner .menuRight .contactJB li:first-child {
              font-size: 20px;
              margin-bottom: 20px; } }
      header .menu .menuInner:after {
        display: block;
        clear: both;
        content: ''; }
    header .menu a {
      color: #222;
      text-decoration: none; }
      header .menu a:hover {
        color: #000; }
    header .menu:after {
      display: block;
      clear: both;
      content: ''; }
    header .menu.is-active {
      opacity: 1;
      z-index: 3;
      overflow: hidden; }
      header .menu.is-active .menuInner {
        transform: translateX(0);
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }

.sec01 {
  position: relative;
  overflow: hidden;
  perspective: 4000px; }
  .sec01 .sectionInner {
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
    perspective: 4000px;
    box-sizing: border-box;
    padding-top: 120px; }
    @media (max-width: 768px) {
      .sec01 .sectionInner {
        padding-top: 80px; } }
    .sec01 .sectionInner .sec01Content {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
      padding-bottom: 58px; }
      .sec01 .sectionInner .sec01Content h1 {
        display: inline-block;
        position: relative;
        margin: 0 0 90px;
        z-index: 2; }
        .sec01 .sectionInner .sec01Content h1 img {
          max-width: 245px;
          vertical-align: middle;
          width: 100%; }
        @media (max-width: 768px) {
          .sec01 .sectionInner .sec01Content h1 {
            margin-bottom: 60px; } }
        @media (max-width: 767px) {
          .sec01 .sectionInner .sec01Content h1 {
            margin: 20px 0 60px; }
            .sec01 .sectionInner .sec01Content h1 img {
              width: 92%; } }
        @media (max-width: 375px) {
          .sec01 .sectionInner .sec01Content h1 img {
            width: 90%; } }
      .sec01 .sectionInner .sec01Content .description {
        position: relative;
        z-index: 1; }
        .sec01 .sectionInner .sec01Content .description h2 {
          margin-bottom: 20px;
          font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
          font-size: 44px;
          line-height: 1.3;
          text-transform: uppercase; }
          @media (max-width: 767px) {
            .sec01 .sectionInner .sec01Content .description h2 {
              width: 90%;
              margin: 0 auto 30px; } }
          @media (max-width: 375px) {
            .sec01 .sectionInner .sec01Content .description h2 {
              width: 85%; } }
        .sec01 .sectionInner .sec01Content .description p {
          margin-bottom: 50px;
          font-size: 33px;
          font-style: italic;
          font-weight: 300;
          line-height: 1.3; }
          @media (max-width: 767px) {
            .sec01 .sectionInner .sec01Content .description p {
              font-size: 28px;
              width: 84%;
              margin: 0 auto 60px; } }
    .sec01 .sectionInner .scroll {
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      bottom: 0;
      padding-bottom: 41px;
      z-index: 1; }
      .sec01 .sectionInner .scroll .mouse {
        height: 30px;
        width: 22px;
        border-radius: 10px;
        transform: none;
        border: 2px solid #000;
        top: 170px;
        margin: 0 auto; }
        .sec01 .sectionInner .scroll .mouse .wheel {
          height: 5px;
          width: 2px;
          display: block;
          margin: 7px auto;
          background: #000;
          position: relative;
          animation: mouse-wheel 1.2s ease infinite; }
    .sec01 .sectionInner .cd-floating-background {
      position: absolute;
      top: 0;
      left: 0;
      transform-style: preserve-3d;
      transform: translateZ(0);
      z-index: 0; }
      .sec01 .sectionInner .cd-floating-background.is-absolute {
        position: absolute; }
      .sec01 .sectionInner .cd-floating-background img {
        display: block;
        width: 100%;
        backface-visibility: hidden;
        background-color: rgba(255, 255, 255, 0.01); }
      .sec01 .sectionInner .cd-floating-background img:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0; }
      .sec01 .sectionInner .cd-floating-background img:first-child {
        transform: translateZ(50px); }
      .no-preserve-3d .sec01 .sectionInner .cd-floating-background {
        position: relative; }

.sec02 .secInner {
  max-width: 1600px;
  margin: 0 auto; }

.sec02 .row {
  display: table;
  width: 100%; }
  .sec02 .row .col {
    display: table-cell;
    vertical-align: middle; }
    .sec02 .row .col .caption {
      padding: 0 10%; }
      .sec02 .row .col .caption h2 {
        font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
        font-size: 44px;
        margin-bottom: 20px; }
        .sec02 .row .col .caption h2 a {
          display: inline-block;
          position: relative;
          line-height: 1;
          color: #fff;
          text-decoration: none;
          outline: none;
          overflow: hidden;
          transition: color 0.5s 0.25s; }
          .sec02 .row .col .caption h2 a:before {
            content: '';
            width: 100%;
            height: 1px;
            margin: -3px 0 0 0;
            background: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.4s;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
          .sec02 .row .col .caption h2 a span {
            position: absolute;
            height: 50%;
            width: 100%;
            left: 0;
            top: 0;
            overflow: hidden; }
            .sec02 .row .col .caption h2 a span:before {
              content: attr(data-letters);
              color: red;
              position: absolute;
              left: 0;
              width: 100%;
              color: #fff;
              transition: transform 0.5s; }
            .sec02 .row .col .caption h2 a span:first-child::before {
              top: 0;
              transform: translate3d(0, 100%, 0); }
            .sec02 .row .col .caption h2 a span:nth-child(2) {
              top: 50%; }
              .sec02 .row .col .caption h2 a span:nth-child(2)::before {
                bottom: 0;
                transform: translate3d(0, -100%, 0); }
          .sec02 .row .col .caption h2 a:hover {
            transition: none;
            color: transparent; }
            .sec02 .row .col .caption h2 a:hover:before {
              transform: translate3d(100%, 0, 0); }
            .sec02 .row .col .caption h2 a:hover span::before {
              transition-delay: 0.3s;
              transform: translate3d(0, 0, 0);
              transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
      .sec02 .row .col .caption p {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.3; }
      @media (max-width: 768px) {
        .sec02 .row .col .caption h2 {
          font-size: 33px;
          margin-bottom: 0; }
        .sec02 .row .col .caption p {
          font-size: 18px; } }
  .sec02 .row .gray1 {
    background: url("/public/images/bg_gray1.jpg");
    background-position: center; }
  .sec02 .row .gray2 {
    background: url("/public/images/bg_gray2.jpg");
    background-position: left; }
  .sec02 .row .gray3 {
    background: url("/public/images/bg_gray3.jpg");
    background-position: right; }
  .sec02 .row .gray4 {
    background: #ebebeb; }
  .sec02 .row .gray5 {
    background: #b2b2b2; }
  .sec02 .row img {
    vertical-align: middle;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    transition: all 1.5s ease; }
    .sec02 .row img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-filter: none;
              filter: none;
      transform: scale(1.05); }

@media (max-width: 767px) {
  .sec02 .row {
    display: block; }
    .sec02 .row .col {
      display: block;
      width: 100%; }
      .sec02 .row .col .caption {
        padding: 40px 10%; }
        .sec02 .row .col .caption h2 {
          margin-bottom: 10px; } }

.sec03 {
  display: block;
  background: url("/public/images/bg_skils.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 30px; }
  @media (max-width: 767px) {
    .sec03 {
      background: url("/public/images/bg1.jpg") no-repeat;
      background-size: cover;
      background-position: center; } }
  .sec03 .secInner {
    max-width: 1400px;
    margin: 0 auto; }
    .sec03 .secInner .row {
      display: table;
      width: 100%; }
      .sec03 .secInner .row .col {
        display: table-cell;
        vertical-align: baseline;
        text-align: center; }
        .sec03 .secInner .row .col h2 {
          font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
          font-size: 44px;
          line-height: 1.3;
          text-align: left;
          margin-left: 50px; }
        .sec03 .secInner .row .col .skillsName {
          font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
          font-size: 30px;
          margin-top: 15px; }
        @media (max-width: 1150px) {
          .sec03 .secInner .row .col .skillsIcon img {
            width: 40%; } }
        @media (max-width: 850px) {
          .sec03 .secInner .row .col .skillsName {
            font-size: 160%; } }
        @media (max-width: 768px) {
          .sec03 .secInner .row .col h2 {
            font-size: 38px; }
          .sec03 .secInner .row .col .skillsName {
            font-size: 24px; } }
    @media (max-width: 1400px) {
      .sec03 .secInner {
        width: 95%; } }
    @media (max-width: 1024px) {
      .sec03 .secInner .row .col h2 {
        margin-left: 20%; } }
    @media (max-width: 767px) {
      .sec03 .secInner .row {
        display: block; }
        .sec03 .secInner .row .col {
          display: block;
          margin-bottom: 25px; }
          .sec03 .secInner .row .col h2 {
            font-size: 38px;
            text-align: center;
            margin: 0 0 5px; }
          .sec03 .secInner .row .col .skillsName {
            font-size: 24px; }
          .sec03 .secInner .row .col .skillsIcon img {
            width: 20%; }
          .sec03 .secInner .row .col:last-child {
            margin-bottom: 10px; } }

.table2 .col {
  width: 50%;
  overflow: hidden; }

.table3 .col {
  width: 33.3333%;
  overflow: hidden; }

.table5 .col {
  width: 20%;
  overflow: hidden; }
  @media (max-width: 767px) {
    .table5 .col {
      width: 100%; } }

.sec04 {
  background: #fff;
  padding: 40px 0 111px; }
  .sec04 .secInner {
    max-width: 1400px;
    margin: 0 auto; }
    .sec04 .secInner h2 {
      font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 30px; }
    .sec04 .secInner p {
      text-align: center;
      font-size: 20px;
      line-height: 1.3; }
      .sec04 .secInner p img {
        width: 100%; }
    .sec04 .secInner h2 + p {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 44px; }
    @media (max-width: 1400px) {
      .sec04 .secInner p img {
        width: 95%; } }
    @media (max-width: 1150px) {
      .sec04 .secInner p img {
        width: 94%; } }
    @media (max-width: 768px) {
      .sec04 .secInner h2 {
        font-size: 38px;
        margin-bottom: 20px; }
      .sec04 .secInner p {
        font-size: 18px; }
        .sec04 .secInner p img {
          width: 90%; }
      .sec04 .secInner h2 + p {
        margin-bottom: 33px; } }
    @media (max-width: 767px) {
      .sec04 .secInner p {
        font-size: 16px; }
        .sec04 .secInner p img {
          width: 92%; }
      .sec04 .secInner h2 + p {
        margin-bottom: 28px; } }

.sec05 {
  background: #e1e1e1;
  padding: 40px 0;
  position: relative; }
  .sec05 .secInner {
    max-width: 1500px;
    margin: 0 auto; }
    .sec05 .secInner .captain {
      position: absolute;
      top: -80px;
      left: 0;
      right: 0; }
    .sec05 .secInner h2 {
      font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      margin: 80px 0 30px; }
    .sec05 .secInner p {
      text-align: center;
      font-size: 20px;
      line-height: 1.3; }
    @media (max-width: 1500px) {
      .sec05 .secInner {
        width: 95%;
        margin: 0 auto; } }
    @media (max-width: 768px) {
      .sec05 .secInner h2 {
        font-size: 38px;
        margin: 60px 0 20px; }
      .sec05 .secInner p {
        font-size: 18px; } }
    @media (max-width: 767px) {
      .sec05 .secInner p {
        font-size: 16px; } }

.sec06 {
  background: #aaa;
  padding: 40px 0;
  position: relative; }
  .sec06 .secInner {
    display: table;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
    .sec06 .secInner p {
      display: table-cell;
      font-family: "VanitasStencilBold", Helvetica, Arial, sans-serif;
      font-size: 60px;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      vertical-align: bottom;
      text-align: right; }
      .sec06 .secInner p a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 35px;
        color: #fff;
        background: url("/public/images/scratch.png") repeat center center;
        padding: 16px 34px;
        transition: all 0.6s 2s; }
        .sec06 .secInner p a span {
          position: relative;
          z-index: 2; }
        .sec06 .secInner p a:after {
          position: absolute;
          bottom: 3px;
          top: 3px;
          right: 3px;
          left: 3px;
          background: #aaa;
          z-index: 1;
          transition: 0.18s cubic-bezier(0.62, 0.02, 0.34, 1);
          content: ''; }
        .sec06 .secInner p a:hover::after {
          bottom: 5px;
          top: 5px;
          right: 5px;
          left: 5px; }
      .sec06 .secInner p:first-child {
        text-align: left; }
    @media (max-width: 1400px) {
      .sec06 .secInner {
        width: 95%; } }
    @media (max-width: 1200px) {
      .sec06 .secInner p {
        display: block;
        width: 96%;
        margin: 0 auto;
        text-align: center; }
        .sec06 .secInner p:first-child {
          text-align: center;
          margin-bottom: 22px; }
        .sec06 .secInner p a {
          padding: 22px 40px; } }
    @media (max-width: 768px) {
      .sec06 .secInner p {
        width: 92%;
        font-size: 55px; }
        .sec06 .secInner p a {
          font-size: 28px;
          padding: 16px 34px; } }
    @media (max-width: 767px) {
      .sec06 .secInner p {
        width: 90%;
        font-size: 40px; } }
    @media (max-width: 375px) {
      .sec06 .secInner p a {
        font-size: 24px;
        padding: 20px 30px; } }

footer .footerInner {
  padding: 40px 0; }
  footer .footerInner .block01 {
    max-width: 1200px;
    margin: 0 auto 40px; }
    footer .footerInner .block01 p {
      float: left;
      font-size: 24px; }
    footer .footerInner .block01 .socialbot {
      float: right; }
      footer .footerInner .block01 .socialbot li {
        float: left; }
        footer .footerInner .block01 .socialbot li:first-child {
          margin-right: 34px; }
          footer .footerInner .block01 .socialbot li:first-child a img {
            width: 100%;
            max-width: 25px;
            vertical-align: middle; }
        footer .footerInner .block01 .socialbot li a img {
          width: 100%;
          max-width: 38px;
          vertical-align: middle; }
      footer .footerInner .block01 .socialbot:after {
        display: block;
        clear: both;
        content: ''; }
    footer .footerInner .block01:after {
      display: block;
      clear: both;
      content: ''; }
  footer .footerInner .block02 {
    max-width: 1480px;
    margin: 0 auto; }
    footer .footerInner .block02 p {
      text-align: center;
      line-height: 1.4; }

@media (max-width: 1480px) {
  footer .footerInner .block01 {
    width: 80%; }
  footer .footerInner .block02 {
    width: 96%; } }

@media (max-width: 768px) {
  footer .footerInner .block01 {
    width: 80%; } }

@media (max-width: 767px) {
  footer .footerInner .block01 {
    margin: 0 auto 30px; }
    footer .footerInner .block01 p {
      float: none;
      margin-bottom: 30px;
      text-align: center; }
    footer .footerInner .block01 .socialbot {
      float: none;
      width: 100px;
      margin: 0 auto; }
  footer .footerInner .block02 {
    width: 96%; }
    footer .footerInner .block02 p {
      font-size: 14PX; } }

@media (max-width: 375px) {
  footer .footerInner .block01 {
    width: 100%; }
  footer .footerInner .block02 {
    width: 95%; } }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

@media (max-width: 767px) {
  .animatedParent .animated.go img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-filter: none;
    filter: none;
    transform: scale(1.05); } }

@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(6px); } }

/* Back Pulse */
@keyframes back-pulse {
  50% {
    color: rgba(0, 0, 0, 0.4); } }
