footer {
	.footerInner {
		padding: 40px 0;
		.block01 {
			max-width: 1200px;
			margin: 0 auto 40px;
			p {
				float: left;
				font-size: 24px;
			}
			.socialbot {
				float: right;
				li {
					float: left;
					&:first-child {
						margin-right: 34px;
						a {
							img {
								width: 100%;
								max-width: 25px;
								vertical-align: middle;
							}
						}
					}
					a {
						img {
							width: 100%;
							max-width: 38px;
							vertical-align: middle;
						}
					}
				}
				&:after {
					display: block;
					clear: both;
					content: '';
				}
			}
			&:after {
				display: block;
				clear: both;
				content: '';
			}
		}
		.block02 {
			max-width: 1480px;
			margin: 0 auto;
			p {
				text-align: center;
				line-height: 1.4;
			}
		}
	}
	@media (max-width: 1480px) {
		.footerInner {
			.block01 {
				width: 80%;
			}
			.block02 {
				width: 96%;
			}
		}
	}
	@media (max-width: 768px) {
		.footerInner {
			.block01 {
				width: 80%;
			}
		}
	}
	@media (max-width: 767px) {
		.footerInner {
			.block01 {
				margin: 0 auto 30px;
				p {
					float: none;
					margin-bottom: 30px;
					text-align: center;
				}
				.socialbot {
					float: none;
					width: 100px;
					margin: 0 auto;
				}
			}
			.block02 {
				width: 96%;
				p {
					font-size: 14PX;
				}
			}
		}
	}
	@media (max-width: 375px) {
		.footerInner {
			.block01 {
				width: 100%;
			}
			.block02 {
				width: 95%;
			}
		}
	}
}